<mat-toolbar class="header mat-elevation-z4"> 
    <nav>
        <ul>
          <li><a style="align-items: center; display: flex; color: #fff;" href="./"><img style="margin-right: 15px;" src="/assets/logo.png" width="50" height="74"> Flow Fish Brasil</a></li>
        </ul>
        <ul class="medium-nav">
            <li><a href="./">Home</a></li>
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/sobre">Sobre</a></li>
          </ul>
        <ul>
          <li><a href="#">Entrar</a></li>
        </ul>
    </nav> 
</mat-toolbar>
<div class="content">
    <router-outlet></router-outlet>
</div>

