<div class="body-content">
    <div class="content-left">
      <span></span>
    </div>
    <div class="content-center mat-elevation-z8">
        <div class="content-ranking">
            <div class="row">
            <img (click)="teste();" style="justify-content: center; align-items: center; display: flex;" src="/assets/TucunareAma.png" width="500" height="217">
            <img style="justify-content: center; align-items: center; display: flex;" src="/assets/TucunareAz.png" width="311" height="129">
            <img style="justify-content: center; align-items: center; display: flex;" src="/assets/Traira.png" width="262" height="104">
        </div>
        </div>
    </div>
    <div class="content-right">
      <span></span>
    </div>
    
</div>
